html{
  font-family: inherit !important;
}

body, .nav-link {
  font-family: 'Montserrat' !important;
}

.Width {
  height: 15rem;
}

.light-color {
  color: #808080;
}

.QueryLength {
  max-width: 90%;
  margin-top: 4rem;
}

.Middle {
  border-radius: 0 !important;
  height: 50px !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important
}

.btn {
  width: 6rem;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group-text {
  background-color: white !important;
}

.Card-Modify {
  width: 10rem !important;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 600px;
  margin: auto;
  background: whitesmoke;
  padding: 40px 55px 45px 55px;
  transition: all .3s;
}

.auth-inner-modified {
  width: 600px;
  margin: auto;
  margin-top: 100px;
  background: red;
  padding: 40px 55px 45px 55px;
  transition: all .3s;
}

.auth-inner-login {
  width: 450px;
  margin: auto;
  margin-top: 100px;
  background: whitesmoke;
  padding: 40px 55px 45px 55px;
  transition: all .3s;
}


.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.Error-message {
  color: red;
}

.text-color {
  color: white;
}

.margin-profile {
  margin-top: 100px;
}

.footer-argon {
  overflow: hidden;
  background: black !important;
  margin-top: 250px;
}

.section {
  padding-bottom: 0 !important;
}

.seperator-bottom {
  bottom: none !important;
}

.nav-button {
  width: fit-content;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25 !important;
  margin-top: 5px;
}

.separator-skew {
  height: 0 !important;
}

@media (min-width: 768px) {
  .email-verify {
    min-height: 940px !important;
}
}

@media (min-width: 768px) {
  .card-image {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
  }
}

.btn {
  width: 160px;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.card-location-icon {
  width: 20px;
  border: #167bff;
}
.container-box {
  width: 100%;
  margin-right: auto;
  border: #167bff 2px 2px;
  margin-left: auto;
}
@media (max-width: 576px){
  .container-box {
    max-width: 590px;
}}
@media (max-width: 768px){
  .container-box {
    max-width: 780px;
}}
@media (min-width: 992px){
  .container-box {
    max-width: 1000px;
}}
@media (min-width: 1200px){
  .container-box {
    max-width: 1220px;
}}
@media (min-width: 1300px){
.container-box {
    max-width: 1320px;
}}


.search-box {
  width: 50%;
  margin-right: auto;
  border: #167bff 2px 2px;
  margin-left: auto;
}

@media (max-width: 576px){
  .search-box {
    width: 300px;
}}
@media (min-width: 992px){
  .search-box {
    width: 600px;
}}

@media (min-width: 1300px){
.search-box {
    width: 700px;
}}

.layer {
  background-color: rgba(0,0,0,0.3) !important;
}

@media (min-width: 992px){
  .links {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (min-width: 992px){
  .colnumber {
    color: white;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .displaychange {
    display: contents;
  }
}

.navbtn {
  background-color: gold;
}

.loginbtn {
  width: fit-content !important;
  height: fit-content !important;
  margin: 0 !important;
  border: none !important;
  padding: 2px 18px !important;
  background: gold !important;
  color: white !important;
}

.welcome {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 12px;
  margin-left: 20px;
  font-size: 50px;
  margin: 0;
}

.Image {
  background-image: url('./assets/img/brand/logo3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.react-autosuggest__container {
  position: relative;
}

::-webkit-input-placeholder {
  color: #fff;
}
#react-autosuggest__typeselect {
  background-color: white;
  border: 2px solid gold;
}


.react-autosuggest__input {
  width: 200px;
  height: 35px !important;
  color: white;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 2px solid gold;
  border-radius: 4px;
  -webkit-appearance: none;
  background-color: transparent;
}

#submitbtn {
  height: 34px;
  width: fit-content;
  padding: 0;
  padding: 0 35px;
  background-color: transparent;
  border: 2px solid gold;
}

#submitbtn:hover {
  background: gold;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #fff;
}

.icons {
  position: absolute;
  top: 10 !important;
  right: 50 !important;
  color: white;
}

.howwework{
  width: fit-content;
  border: none !important;
}
.howweworkHeading{
  text-align: center;
  font-weight: 700;
  color: black;
}
b{
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
}
.container{
  width: 100%;
  margin:0px;
  padding:2px;
  justify-content: center;
}
.img-with-text {
  text-align: center;
  word-spacing: 0.1em;
  text-align: center;
  justify-content: center;
}
.img-with-text img{
  align-content: center;
  padding: 0px;
}
img{
  width: 350px;
  height: 350px;
}
.fa-arrow-right{
  margin: 0 20px;
  align-content: center;
  justify-content: center;
  color:grey;
  font-size: 24px;
}
.opacity-0h5 {
  background-color:  black;
  opacity:0.7!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}
.right{
  float: right;
}
.card{
  margin-top:10px;
}
.margin{
  margin: 2px 50px 150px 50px;
}
.bg{
  background: url("./images/bg.jpeg");
  background-position: 0 0;
  background-size: cover;
  opacity: 0.8;
  height: auto;
}
.layer {
  background-color: rgba(245, 227, 69, 0.6);
}

.layer h2{
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

.black{
  color:black;
}
.bg h2{
  color: white;
  opacity: 1;
}
.center{
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  display: flex;
  position: relative;
  left: 0 !important;
  transform: translateX(0) !important;
  padding-bottom: 80px;
}
.card{
  /*margin-top: 30px;*/
  border: none !important;
  height: 100%;
}
.card-text{
  text-align: center;
  font-weight: bold;
  color: gold;
}
.card-footer{
  background: gold;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.card-body{
  padding: 0.5rem !important;
}
/* .footer{
  margin: 0px 80px 0px 80px;
  text-align: left;
}
.page-footer{
  bottom: 0;
  background-color: #242423;
  color:white;
  font-size: 13px;
}
.page-footer a{
  color: white;
  text-decoration: none;
  text-align: left;
}
.page-footer a:hover{
  color: white;
  text-decoration: none;
  text-align: left;
}
.page-footer h5{
  border-bottom: 2px solid orangered;
  padding-bottom: 2px;
  width: 100%;
}
/* input[type=text]{
width: 100%;
padding: 2px;
border: 1px solid black;
border-radius: 1px;
resize: vertical;
background-color:black;
border-radius: 5px;
} */
/* .btn-submit{
  border-radius: 10px;
  background-color: orangered;
  padding: 5px;
  width: 50%;
  color: white;
  border-style: none;
}
.footer-copyright{
  bottom: 0;
  background-color: black;
  color:white;
  width: 100%;
}  */

/*Footer Component CSS*/

.footer{
  background-color: #171717 !important;
  color: white;
  padding: 0px !important;
  height: 100%;
}

.footer .container-fluid{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer .row{
  width: 85%;
  margin: 0 auto;
}

.footer li{
  padding: 0.5vw 0;
}

.footer li a{
  padding: 0.5vw 0;
  color: white !important;
}

.footer .footerelement hr{
  margin: 0px;
  border-color: #b85100;
  border-width: 3px;
  width: 50%;
}

.footer .footerelement{
  padding: 1vw 0.5vw;
  font-size: 1vw;
}

.footer .footerelement h2{
  color: white;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 600;
}

.footer form{
  padding: 1rem 0;
}

.footer .form-group label{
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 600;
}

.footer .form-group input{
  background-color: black;
  color: white;
  font-size: 1vw;
  border-color: #1f1f1f;
  padding: 1.5vw;
}

.footer .footerelement .form-submit{
  margin: 1vw 0;
  background-color: #FE4D01;
  border-color: #FE4D01;
  color: white;
  font-size: 1vw;
  padding: 1vw 1vw;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.footer .footerelement .form-submit:hover{
  background-color: #FFD700;
  border-color: #FFD700;
  transform: translate(0px);
}

.footer .about{
  padding-left: 2vw;
}

.footer .about .about-body{
  padding: 1vw 0;
}

.footer .about .about-body p{
  font-size: 1vw;
  margin: 0px;
}

.footer .about .about-links{
  padding: 2vw 0;
}

.footer .about .about-links span {
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 0 1.5vw 0 0;
  transition: background-color 200ms ease;
}

.footer .about .about-links span img{
  width: 70%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .about .about-links span:hover{
  background-color: #8c8c8c;
}

.footer .footerline{
  text-align: center;
  background-color: black;
  padding: 1.2rem;
  font-size: 1vw;
}